{
    "printWidth": 120,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "quoteProps": "as-needed"
}
